{{ define "jobs" }}
{{ template "Header" . }}
<p><a href="addjob"><button>Add new cronjob</button></a></p>
<table>
<tr>
    <th>On?</th>
    <th>Group</th>
    <th>Name</th>
    <th class="nm">Schedule</th>
    <th class="nm">Desc</th>
    <th class="nm">Notify</th>
</tr>
{{range $k, $v := .CronJobs}}
    <tr>
        <td>{{if $v.Active}}[X]{{else}}[_]{{end}}</td>
        <td>{{$v.Group}}</td>
        <td>{{$v.Name}}</td>
        <td class="nm">{{$v.Schedule}}</td>
        <td class="nm">{{$v.Desc}}</td>
        <td class="nm">{{$v.NotifyGroup}}</td>
        <td class="nm"><a{{if $v.Active}} href="setinactive?name={{$v.Name}}"><button>deactivate</button></a>{{else}} href="setactive?name={{$v.Name}}"><button>activate</button></a>{{end}}</td>
        <td><a href="editjob?name={{$v.Name}}"><button>edit</button></a></td>
        <td><a href="deletejob?name={{$v.Name}}" class="deletebtn"><button>delete</button></a></td>
    </tr>
{{end}}
</table>
<script>
let els = document.getElementsByClassName("deletebtn")
for(let i=0;i<els.length;i++){
    el = els[i];
    el.addEventListener("click",function(ev){
    
        ev.preventDefault();
        let conf = confirm("Really delete?")
        if (!conf) {
            return;
        }
        window.location = this.href;
        
    });
}
</script>
{{ template "Footer" }}
{{end}}
