{{ define "jobs" }}
{{ template "Header" . }}
<p><a href="addjob"><button>Add new cronjob</button></a></p>
<table>
<tr>
    <th>On?</th>
    <th>Group</th>
    <th>Name</th>
    <th class="nm">Schedule</th>
    <th class="nm">Desc</th>
    <th class="nm">Notify</th>
</tr>
{{range $k, $v := .CronJobs}}
    <tr>
        <td>{{if $v.Active}}[X]{{else}}[_]{{end}}</td>
        <td>{{$v.Group}}</td>
        <td>{{$v.Name}}</td>
        <td class="nm">{{$v.Schedule}}</td>
        <td class="nm">{{$v.Desc}}</td>
        <td class="nm">{{$v.NotifyGroup}}</td>
        <td class="nm"><button url="toggleactive" name="{{$v.Name}}" class="deletebtn">{{if $v.Active}}deactivate{{else}}activate{{end}}</button></td>
        <td><a href="editjob?name={{$v.Name}}"><button>edit</button></a></td>
        <td><button url="deletejob" verify="true" name="{{$v.Name}}" class="deletebtn">delete</button></td>
    </tr>
{{end}}
</table>
{{ template "Footer" }}
{{end}}
