{{ define "notifygroups" }}
{{ template "Header" . }}
<p><a href="addnotifygroup"><button>Add new notifygroup</button></a></p>
<table>
<tr><th>Name</th><th class="nm">email</th><th class="nm">gotify</th><th class="nm">webhook</th></tr>
{{range $k, $v := .NotifyGroups}}
    <tr>
        <td>{{$v.Name}}</td>
        <td class="nm">{{if $v.Shouldemail}}[X]{{else}}[_]{{end}}</td>
        <td class="nm">{{if $v.Shouldgotify}}[X]{{else}}[_]{{end}}</td>
        <td class="nm">{{if $v.Shouldwebhook}}[X]{{else}}[_]{{end}}</td>
        <td><a href="editnotifygroup?name={{$v.Name}}"><button>edit</button></a></td>
        <td><a href="deletenotifygroup?name={{$v.Name}}" class="deletebtn"><button>delete</button></a></td>
    </tr>
{{end}}
</table>
<script>
let els = document.getElementsByClassName("deletebtn")
for(let i=0;i<els.length;i++){
    el = els[i];
    el.addEventListener("click",function(ev){
    
        ev.preventDefault();
        let conf = confirm("Really delete?")
        if (!conf) {
            return;
        }
        window.location = this.href;
        
    });
}
</script>
{{ template "Footer" }}
{{end}}
